<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jung.info.mapper.TestMapper">

    <select id="now" resultType="java.util.Date">
        SELECT NOW()
        FROM dual
    </select>

    <select id="stringTest">
        SELECT 'anna'
        FROM dual
    </select>


</mapper>
